<!DOCTYPE html>

<HTML>

    <head>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/main.js"></script>
    </head>

    <body>

        {{>header}}

    </body>

    <footer>
        {{>footer}}
    </footer>

</HTML>