<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h1>{{title}}</h1>
        <img src="images/74677048_2851858818210646_8973383933542531072_n.jpg" alt="Rishabh Goyal">
        <p>Author {{name}}</p>
    </body>
</html>