<!DOCTYPE html>

<HTML>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/main.js"></script>
    </head>

    <body>
        <h1>{{title}}</h1>
        <h2>Author {{name}}</h2>
    </body>
</HTML>